* {
    box-sizing: border-box;
    color: white;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    background-color: #300350;
    font-size: 20px;
}

div { 
    border: 0px solid red;
}

.window {
    height: 99vh;
    margin: -5px;
    padding: 0;
    display: flex;
    justify-content:center;
    align-items: center;
}

.content {
    margin-top: -10vh;
    padding: 10vh;
}

img {
    display: flex;
    border-radius: 5%;
}